<!DOCTYPE html>
<html lang="en">
{% with title="Users" %}
{% include '_base_head.html' %}
{% endwith %}

<body class="text-center">

    <body class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            {% include '_base_header.html' %}


            <table class="table text-white bg-dark">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Prep Time</th>
                        <th>Created at</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {%for recipe in recipe_list %}
                    <tr>
                        <td>{{recipe.title}}</td>
                        <td>{{recipe.prep_time}}</td>
                        <td>{{recipe.created_at}}</td>
                        <td>
                            <a href="/admin/recipe/{{recipe.recipe_uuid}}" class="fas fa-address-card"></a>
                        </td>
                        <td>
                            <a href="/admin/recipe/{{recipe.recipe_uuid}}/edit" class="far fa-edit"></a>
                        </td>
                        <td>
                            <a href="/admin/recipe/{{recipe.recipe_uuid}}/delete" class="far fa-trash-alt"></a>
                        </td>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            {% include '_base_footer.html' %}
        </div>
    </body>

</html>