<!DOCTYPE html>
<html lang="en">
{% with title="User" %}
{% include '_base_head.html' %}
{% endwith %}

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        {% include '_base_header.html' %}
        <main role="main" class="inner cover">
            <div class="card-group">

                <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-title h5">Recipe</div>
                        <form action="/admin/recipes/add" method="post">
                            <table class="user-table">
                                <tr>
                                    <td>Title:
                                    <td><input type="text" name="title" id="title"></td>
                                </tr>
                                <tr>
                                    <td>Prep Time: </td>
                                    <td><input type="number" name="prep_time" id="prep_time">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ingredients: </td>
                                    <td>
                                        <textarea name="ingredients" id="ingredients" cols="30" rows="10">
                                            </textarea>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Preperation: </td>
                                    <td>
                                        <textarea name="preperation" id="preperation" cols="30" rows="10">
                                    </textarea>
                                    </td>
                                </tr>
                            </table>
                            <button type="submit">Add recipe</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include '_base_footer.html' %}
    </div>
</body>

</html>