<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tante Truus</title>
</head>

<body style="background: #F4F4F4;">
    <div class="mj-container" style="background-color:#F4F4F4;">
        <div style="margin:0px auto;max-width:600px;background:#FFFFFF;">
            <table role="presentation" cellpadding="0" cellspacing="0"
                style="font-size:0px;width:100%;background:#FFFFFF;" align="center" border="0">
                <tbody>
                    <tr>
                        <td
                            style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;">
                            <div class="mj-column-per-100 outlook-group-fix"
                                style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top;"
                                    width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="word-wrap:break-word;font-size:0px;padding:20px 20px 20px 20px;"
                                                align="center">
                                                <div
                                                    style="cursor:auto;color:#000000;font-family:Helvetica, sans-serif;font-size:11px;line-height:1.5;text-align:center;">
                                                    <p><span style="font-size:28px;">Hello {{name}},</span></p>
                                                    <p><span style="font-size:28px;">Your account has been
                                                            confirmed succesfully! You can return to the app
                                                            now.</span></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="word-wrap:break-word;font-size:0px;padding:15px 15px 15px 15px;"
                                                align="center">
                                                <div
                                                    style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:center;">
                                                    <p><span style="font-size:28px;">Greetings,</span></p>
                                                    <p><span style="font-size:28px;">Tante truus</span></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="word-wrap:break-word;font-size:0px;">
                                                <div style="font-size:1px;line-height:50px;white-space:nowrap;">
                                                    &#xA0;
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>