<!DOCTYPE html>
<html lang="en">
{% with title="Users" %}
{% include '_base_head.html' %}
{% endwith %}

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        {% include '_base_header.html' %}

        <main role="main" class="inner cover">
            <div class="card-group">
                <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Manage Users</h5>
                        <a href="/admin/users/add" class='btn btn-primary'>Add user</a>
                        <a href="/admin/users/get" class="btn btn-primary">Get users</a>
                    </div>
                </div>

            </div>

        </main>

        {% include '_base_footer.html' %}
    </div>
</body>

</html>